.info-IP{
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 0 40px; 
    text-align: center;
    position: absolute;
    width: 81%;
    top: 140px;
    padding: 20px;
    border-radius: 20px;
}
.info-IP label{
    text-transform: uppercase;
    font-size: 14px;
    color: hsl(0, 0%, 59%);
}
.info-IP h3{
    margin: 7px 0;
}