.background-title{
    width: 100%;
    background-image: url('../../assets/pattern-bg-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 500;

}
@media screen and (min-width: 535px) {
    .background-title{
        background-image: url('../../assets/pattern-bg-desktop.png');
        background-size: auto;
        background-position: top;
    }
    h1{
        padding-top: 15px;
    }
}